@import './reset.css';

#hidden {
    display: none;
}

.container {
    color: #fff;
    text-align: center;
}

.container img {
    width: 100px;
    height: 100px;
}

.container h1 {
    font-size: 1.55rem;
}

.container p {
    font-size: .875rem;
    margin: 10px 0 30px 0;
}

.container a {
    color: #fff;
    font-size: .875rem;
    padding: 10px 20px;
    border: 2px solid #fff;
    border-radius: 30px;
    transition: all .35s;
}

.container a:hover {
    color: #000;
    background: #fff;
    transition: all .35s;
}

.container a i {
    margin-right: 10px;
}